{{> doctor/doctor_header}}

<body>

<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="card">

                            <div class="card-header card-header-icon" data-background-color="purple">
                                <!--<i class="fa fa-fw" aria-hidden="true" title="Copy to use medkit"></i>-->
                                <!--<i class="material-icons">local_pharmacy</i>-->
                                {{#payment_obj}}
                                    <h4 class="card-title">Edit payment</h4>
                                {{/payment_obj}}
                                {{^payment_obj}}
                                    <h4 class="card-title">New payment</h4>
                                {{/payment_obj}}
                            </div>
                            <div class="card-content">

                                <!-- Add new medicine-->
                                {{^payment_obj}}
                                    <!--<h4 class="card-title">Add medicine</h4>-->
                                    <form name="payment-form" id="payment-form" class="form" action="/save_payment"
                                          method="post">

                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Select patient</label>
                                            <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                 style="margin-top: 2px;">
                                                <select class="selectpicker" name="patient_id" id="patient_id"
                                                        data-style="select-with-transition"
                                                        title="Patient" tabindex="6" onchange="getPatient()">
                                                    <option selected disabled> Select patient</option>
                                                    {{#patient_objs}}
                                                        <option value="{{id}}">{{first_name}} {{last_name}}</option>
                                                    {{/patient_objs}}
                                                </select>
                                            </div>
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Select service type</label>
                                            <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                 style="margin-top: 2px;">
                                                <select class="selectpicker" name="service_type" id="service_type"
                                                        data-style="select-with-transition"
                                                        title="Service type" tabindex="6">
                                                    <option disabled> Service type</option>
                                                    <option value="Consultation">Consultation</option>
                                                    <option value="Follow up">Follow up</option>
                                                    <option value="Treatments">Treatments</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                            <span class="material-input"></span>
                                        </div>


                                        <div class="col-md-3 form-group label-floating ">
                                            <label class="control-label">Fees</label>
                                            <input class="form-control" name="fee" id="fee" type="text"
                                                   onchange="getTotal()" value="0">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-3 form-group label-floating ">
                                            <label class="control-label">Previous balance</label>
                                            <input class="form-control" name="dues" id="dues"
                                                   type="text" value="0" disabled>
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-3 form-group label-floating ">
                                            <label class="control-label">Total</label>
                                            <input class="form-control" name="total" id="total"
                                                   type="text" value="0" disabled>
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-3 form-group label-floating ">
                                            <label class="control-label">No of session</label>
                                            <input class="form-control" name="no_of_session" id="no_of_session"
                                                   type="text" value="0">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 form-group label-floating ">
                                            <label class="control-label">Remark</label>
                                            <input class="form-control" name="remark" id="remark" type="text">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 footer text-center">
                                            <input type="submit" class="btn btn-primary btn-round" value="Submit"/>
                                        </div>
                                    </form>
                                {{/payment_obj}}

                                <!-- update medicine-->
                                {{#payment_obj}}
                                    <!--<h4 class="card-title">Edit medicine</h4>-->
                                    <form name="update-medicine-form" id="update-medicine-form" class="form"
                                          action="/update_medicine" method="post">
                                        <input type="hidden" name="m_id" id="m_id" value="{{id}}">
                                        <input type="hidden" name="m_type" id="m_type" value="{{m_type}}">

                                        <div class="col-md-12 form-group label-floating ">
                                            <label class="control-label">Drug name</label>
                                            <input class="form-control" name="name" id="name" type="text"
                                                   value="{{name}}">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-4 form-group label-floating ">
                                            <label class="control-label">Select medicine type</label>
                                            <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                 style="margin-top: 2px;">
                                                <select class="selectpicker" name="type" id="type"
                                                        data-style="select-with-transition"
                                                        title="Medicine type" tabindex="6">
                                                    <option disabled> Medicine type</option>
                                                    <option value="Syrup">Syrup</option>
                                                    <option value="Tablet">Tablet</option>
                                                    <option value="Capsule">Capsule</option>
                                                    <option value="Creame">Creame</option>
                                                </select>
                                            </div>
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-4 form-group label-floating ">
                                            <label class="control-label">Strength</label>
                                            <input class="form-control" name="strength" id="strength" type="text"
                                                   value="{{strength}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-4 form-group label-floating ">
                                            <label class="control-label">Select unit</label>
                                            <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                 style="margin-top: 2px;">
                                                <select class="selectpicker" name="unit" id="unit"
                                                        data-style="select-with-transition"
                                                        title="Select unit" tabindex="6">
                                                    <option disabled> Unit</option>
                                                    <option value="ml">ml</option>
                                                    <option value="gm">gm</option>
                                                    <option value="nos">nos</option>
                                                </select>
                                            </div>
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 form-group label-floating ">
                                            <label class="control-label">Instruction</label>
                                            <input class="form-control" name="instruction" id="instruction" type="text"
                                                   value="{{instruction}}">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 footer text-center">
                                            <input type="submit" class="btn btn-primary btn-round" value="Update"/>
                                        </div>
                                    </form>
                                {{/payment_obj}}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{> footer}}
        </div>
    </div>
</div>

</body>


{{> script}}

