{{> patient/patient_header}}

<body>

<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">
        {{> navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Users list</h4>
                                <p class="category">Here is a subtitle for this table</p>
                            </div>
                            <div class="card-content table-responsive">

                                <table class="table">
                                    <thead class="text-primary">
                                    <tr>
                                        <th>Name</th>
                                        <th>Contact</th>
                                        <th>Email</th>
                                        <th>Password</th>
                                        <th>Role</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#users_objs}}
                                        <tr>
                                            <td>{{user_name}}</td>
                                            <td>{{contact}}</td>
                                            <td>{{email}}</td>
                                            <td>{{password}}</td>
                                            <td>{{role}}</td>
                                            <td class="text-left">
                                                <!--<td class="td-actions text-right">-->
                                                <a href="/edit_register_user/{{id}}" rel="tooltip" title=""
                                                   class="btn btn-primary btn-simple btn-xs"
                                                   data-original-title="Edit Task">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <!--<button type="button" rel="tooltip" title=""-->
                                                <!--class="btn btn-primary btn-simple btn-xs"-->
                                                <!--data-original-title="Edit Task">-->
                                                <!--<i class="material-icons">edit</i>-->
                                                <!--</button>-->
                                                <button type="button" rel="tooltip" title=""
                                                        class="btn btn-danger btn-simple btn-xs"
                                                        data-original-title="Remove">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                            <!--<td class="text-primary">$36,738</td>-->
                                        </tr>
                                    {{/users_objs}}
                                    {{^users_objs}}
                                        No record found...
                                    {{/users_objs}}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>
    </div>
</div>

</body>

{{> script}}
