{{> doctor/doctor_header}}

<body>

<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Payment list</h4>
                                <!--<p class="category">Here is a subtitle for this table</p>-->
                            </div>
                            <div class="card-content table-responsive">

                                <table class="table">
                                    <thead class="text-primary">
                                    <tr>
                                        <th>Patient name</th>
                                        <th>Date of payment</th>
                                        <th>Service type</th>
                                        <th>Fees</th>
                                        <th>Dues</th>
                                        <th>Totals</th>
                                        <th>Number of session</th>
                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#payment_objs}}
                                        <tr>
                                            <td>{{first_name}} {{last_name}} </td>
                                            <td>{{date}}</td>
                                            <td>{{service_type}}</td>
                                            <td>{{fees}}</td>
                                            <td>{{dues}}</td>
                                            <td>{{total}}</td>
                                            <td>{{no_of_session}}</td>
                                            <td>{{remark}}</td>
                                            <td class="text-left">
                                                <!--<td class="td-actions text-right">-->
                                                <a href="/edit_payment/{{id}}" rel="tooltip" title=""
                                                   class="btn btn-primary btn-simple btn-xs"
                                                   data-original-title="Edit payment">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a href="" rel="tooltip" title=""
                                                   class="btn btn-danger btn-simple btn-xs"
                                                   data-original-title="Delete payment"
                                                   onclick="deleteMe(this,'payment',{{id}})">
                                                    <i class="material-icons">close</i>
                                                </a>
                                            </td>
                                        </tr>
                                    {{/payment_objs}}
                                    {{^payment_objs}}
                                        <tr>
                                            <td>No records found...</td>
                                        </tr>
                                    {{/payment_objs}}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}

        </div>

    </div>
</div>

</body>

{{> script}}
