{{> patient/patient_header}}
<body>

<div class="wrapper">
    {{> sidebar}}

    <div class="main-panel">
        {{> navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Edit Profile</h4>
                                <p class="category">Complete your profile</p>
                            </div>
                            <div class="card-content">
                                <form name="profile" class="form" action="/update_register_user" method="post">
                                    {{#user_obj}}
                                        <div class="col-md-10 col-md-offset-1">
                                            <!--<div class="col-md-5">-->
                                            <!--<div class="form-group label-floating">-->
                                            <!--<label class="control-label">Company (disabled)</label>-->
                                            <!--<input type="text" class="form-control" disabled>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                            <div class="form-group is-empty">
                                                <input class="form-control" placeholder="Username..." required
                                                       name="user_name" id="user_name" type="text"
                                                       value="{{user_name}}">
                                                <span class="materisal-input"></span><span
                                                    class="material-input"></span>
                                            </div>
                                            <div class="form-group is-empty">
                                                <input class="form-control" placeholder="Email..." required
                                                       name="email" id="email" type="text" value="{{email}}">
                                                <span class="materisal-input"></span><span
                                                    class="material-input"></span>
                                            </div>
                                            <div class="form-group is-empty">
                                                <input class="form-control" placeholder="Contact..." required
                                                       name="contact" id="contact" type="text" value="{{contact}}">
                                                <span class="materisal-input"></span><span
                                                    class="material-input"></span>
                                            </div>
                                            <div class="form-group is-empty">
                                                <input class="form-control" placeholder="Password..." required
                                                       name="password" id="password" type="password">
                                                <span class="materisal-input"></span><span
                                                    class="material-input"></span>
                                            </div>
                                            <div class="form-group is-empty">
                                                <select class="selectpicker" name="role" id="role"
                                                        data-style="select-with-transition"
                                                        title="Select Role" tabindex="6">
                                                    <option disabled> Select Role</option>

                                                    <option value="Administrator">Administrator</option>
                                                    <option value="Doctor">Doctor</option>
                                                    <option value="Reception">Reception</option>
                                                </select>
                                            </div>

                                        </div>

                                        <!--<div class="row">-->
                                        <!--<div class="col-md-6">-->
                                        <!--<div class="form-group label-floating">-->
                                        <!--<label class="control-label">Fist Name</label>-->
                                        <!--<input type="text" class="form-control">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-6">-->
                                        <!--<div class="form-group label-floating">-->
                                        <!--<label class="control-label">Last Name</label>-->
                                        <!--<input type="text" class="form-control">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="row">-->

                                        <!--</div>-->

                                        <!--<div class="row">-->
                                        <!--<div class="col-md-4">-->
                                        <!--<div class="form-group label-floating">-->
                                        <!--<label class="control-label">City</label>-->
                                        <!--<input type="text" class="form-control">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-4">-->
                                        <!--<div class="form-group label-floating">-->
                                        <!--<label class="control-label">Country</label>-->
                                        <!--<input type="text" class="form-control">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-4">-->
                                        <!--<div class="form-group label-floating">-->
                                        <!--<label class="control-label">Postal Code</label>-->
                                        <!--<input type="text" class="form-control">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="row">-->
                                        <!--<div class="col-md-12">-->
                                        <!--<div class="form-group">-->
                                        <!--<label>About Me</label>-->
                                        <!--<div class="form-group label-floating">-->
                                        <!--<label class="control-label"> Lamborghini Mercy, Your chick she so-->
                                        <!--thirsty, I'm in that two seat Lambo.</label>-->
                                        <!--<textarea class="form-control" rows="5"></textarea>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-primary btn-round">Update Profile
                                            </button>
                                        </div>
                                    {{/user_obj}}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img" src="../images/faces/default-user.png"/>
                                </a>
                            </div>

                            <div class="content">
                                <h6 class="category text-gray">CEO / Co-Founder</h6>
                                <h4 class="card-title">Alec Thompson</h4>
                                <p class="card-content">
                                    Don't be scared of the truth because we need to restart the human foundation in
                                    truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the
                                    back is...
                                </p>
                                <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>

    </div>
</div>

</body>

{{> script}}
{{#user_obj}}
    <script type="application/javascript">

        $(document).ready(function () {
            $("select#role option[value=" + "{{m_type}}" + "]").attr("selected", "selected");
        });
    </script>
{{/user_obj}}
