{{> reception/reception_header}}

<body>

<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="card">

                            <div class="card-header card-header-icon" data-background-color="purple">
                                <!--<i class="fa fa-fw" aria-hidden="true" title="Copy to use medkit"></i>-->
                                <!--<i class="material-icons">local_pharmacy</i>-->
                                {{#medicine_obj}}
                                    <h4 class="card-title">Edit medicine</h4>
                                {{/medicine_obj}}
                                {{^medicine_obj}}
                                    <h4 class="card-title">New medicine</h4>
                                {{/medicine_obj}}
                            </div>
                            <div class="card-content">


                                {{#medicine_obj}}
                                    <!--<h4 class="card-title">Edit medicine</h4>-->

                                    <form name="update-medicine-form" id="update-medicine-form" class="form"
                                          action="/update_medicine" method="post">
                                        <input type="hidden" name="m_id" id="m_id" value="{{id}}">
                                        <input type="hidden" name="m_type" id="m_type" value="{{m_type}}">

                                        <div class="col-md-12 form-group label-floating ">
                                            <label class="control-label">Drug name</label>
                                            <input class="form-control" name="name" id="name" type="text"
                                                   value="{{name}}">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-4 form-group label-floating ">
                                            <label class="control-label">Select medicine type</label>
                                            <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                 style="margin-top: 2px;">
                                                <select class="selectpicker" name="type" id="type"
                                                        data-style="select-with-transition"
                                                        title="Medicine type" tabindex="6">
                                                    <option disabled> Medicine type</option>
                                                    <option value="Syrup">Syrup</option>
                                                    <option value="Tablet">Tablet</option>
                                                    <option value="Capsule">Capsule</option>
                                                    <option value="Creame">Creame</option>
                                                </select>
                                            </div>
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-4 form-group label-floating ">
                                            <label class="control-label">Strength</label>
                                            <input class="form-control" name="strength" id="strength" type="text"
                                                   value="{{strength}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-4 form-group label-floating ">
                                            <label class="control-label">Select unit</label>
                                            <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                 style="margin-top: 2px;">
                                                <select class="selectpicker" name="unit" id="unit"
                                                        data-style="select-with-transition"
                                                        title="Select unit" tabindex="6">
                                                    <option disabled> Unit</option>
                                                    <option value="ml">ml</option>
                                                    <option value="gm">gm</option>
                                                    <option value="nos">nos</option>
                                                </select>
                                            </div>
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 form-group label-floating ">
                                            <label class="control-label">Instruction</label>
                                            <input class="form-control" name="instruction" id="instruction" type="text"
                                                   value="{{instruction}}">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 footer text-center">
                                            <input type="submit" class="btn btn-primary btn-round" value="Update"/>
                                        </div>
                                    </form>


                                {{/medicine_obj}}

                                <!-- if object not exit/  request comes for new medicine-->
                                {{^medicine_obj}}
                                    <!--<h4 class="card-title">Add medicine</h4>-->
                                    <form name="medicine-form" id="medicine-form" class="form" action="/save_medicine"
                                          method="post">

                                        <div class="col-md-12 form-group label-floating ">
                                            <label class="control-label">Drug name</label>
                                            <input class="form-control" name="name" id="name" type="text">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-4 form-group label-floating ">
                                            <label class="control-label">Select medicine type</label>
                                            <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                 style="margin-top: 2px;">
                                                <select class="selectpicker" name="type" id="type"
                                                        data-style="select-with-transition"
                                                        title="Medicine type" tabindex="6">
                                                    <option disabled> Medicine type</option>
                                                    <option value="Syrup">Syrup</option>
                                                    <option value="Tablet">Tablet</option>
                                                    <option value="Capsule">Capsule</option>
                                                    <option value="Creame">Creame</option>
                                                </select>
                                            </div>
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-4 form-group label-floating ">
                                            <label class="control-label">Strength</label>
                                            <input class="form-control" name="strength" id="strength" type="text">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-4 form-group label-floating ">
                                            <label class="control-label">Select unit</label>
                                            <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                 style="margin-top: 2px;">
                                                <select class="selectpicker" name="unit" id="unit"
                                                        data-style="select-with-transition"
                                                        title="Select unit" tabindex="6">
                                                    <option disabled> Unit</option>
                                                    <option value="ml">ml</option>
                                                    <option value="gm">gm</option>
                                                    <option value="nos">nos</option>
                                                </select>
                                            </div>
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 form-group label-floating ">
                                            <label class="control-label">Instruction</label>
                                            <input class="form-control" name="instruction" id="instruction" type="text">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 footer text-center">
                                            <input type="submit" class="btn btn-primary btn-round" value="Submit"/>
                                        </div>
                                    </form>

                                {{/medicine_obj}}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{> footer}}
        </div>
    </div>
</div>

</body>

{{> script}}

{{#medicine_obj}}
    <script type="application/javascript">

        $(document).ready(function () {
            $("select#type option[value=" + "{{m_type}}" + "]").attr("selected", "selected");
            $("select#unit option[value=" + "{{m_unit}}" + "]").attr("selected", "selected");
// you need to specify id of combo to set right combo, if more than one combo
        });
    </script>
{{/medicine_obj}}
