{{> reception/reception_header}}

<body>

<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Medicine list</h4>
                                <!--<p class="category">Here is a subtitle for this table</p>-->
                            </div>
                            <div class="card-content table-responsive">

                                <table class="table">
                                    <thead class="text-primary">
                                    <tr>
                                        <th>Drug name</th>
                                        <th>Type</th>
                                        <th>Brand</th>
                                        <th>Strength</th>
                                        <th>Unit</th>
                                        <th>Instruction</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#medicine_objs}}
                                        <tr>
                                            <td>{{name}}</td>
                                            <td>{{type}}</td>
                                            <td>{{brand}}</td>
                                            <td>{{strength}}</td>
                                            <td>{{unit}}</td>
                                            <td>{{instruction}}</td>
                                            <td class="text-left">
                                                <!--<td class="td-actions text-right">-->
                                                <a href="/edit_medicine/{{id}}" rel="tooltip" title=""
                                                   class="btn btn-primary btn-simple btn-xs"
                                                   data-original-title="Edit medicine">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a href="" rel="tooltip" title=""
                                                   class="btn btn-danger btn-simple btn-xs"
                                                   data-original-title="Delete medicine"
                                                   onclick="deleteMe(this,'medicine',{{id}})">
                                                    <i class="material-icons">close</i>
                                                </a>
                                            </td>
                                        </tr>
                                    {{/medicine_objs}}
                                    {{^medicine_objs}}
                                        No record found...
                                    {{/medicine_objs}}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}

        </div>

    </div>
</div>

</body>

{{> script}}
