{{> reception/reception_header}}

<body>

<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                        <h4 class="title">Treatment list</h4>
                                <!--<p class="category">Here is a subtitle for this table</p>-->
                            </div>
                            <div class="card-content table-responsive">

                                <table class="table">
                                    <thead class="text-primary">
                                    <tr>
                                        <th>Treatment name</th>
                                        <!--<th>Type</th>-->
                                        <th>Cost</th>
                                        <th>Instruction</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#treatment_objs}}
                                        <tr>
                                            <td>{{name}}</td>
                                            <!--<td>{{tag}}</td>-->
                                            <td>{{cost}}</td>
                                            <td>{{instruction}}</td>
                                            <td class="text-left">
                                                <!--<td class="td-actions text-right">-->
                                                <a href="/edit_treatment/{{id}}" rel="tooltip" title=""
                                                   class="btn btn-primary btn-simple btn-xs"
                                                   data-original-title="Edit Task">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a href="" rel="tooltip" title=""
                                                   class="btn btn-danger btn-simple btn-xs"
                                                   data-original-title="Delete treatment" onclick="deleteMe(this,'treatment',{{id}})">
                                                    <i class="material-icons">close</i>
                                                </a>
                                                <!--<button type="button" rel="tooltip" title=""-->
                                                <!--class="btn btn-primary btn-simple btn-xs"-->
                                                <!--data-original-title="Edit Task">-->
                                                <!--<i class="material-icons">edit</i>-->
                                                <!--</button>-->
                                                <!--<button type="button" rel="tooltip" title=""-->
                                                <!--class="btn btn-danger btn-simple btn-xs"-->
                                                <!--data-original-title="Remove">-->
                                                <!--<i class="material-icons">close</i>-->
                                                <!--</button>-->
                                            </td>
                                            <!--<td class="text-primary">$36,738</td>-->
                                        </tr>
                                    {{/treatment_objs}}
                                    {{^treatment_objs}}
                                        No record found...
                                    {{/treatment_objs}}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}

        </div>
    </div>
</div>

</body>

{{> script}}
