{{> patient/patient_header}}

<body>
<div class="wrapper">

    {{> sidebar}}


    <div class="main-panel">

        {{> navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card">

                            <div class="card-header card-header-icon" data-background-color="purple">
                                <!--<i class="fa fa-fw" aria-hidden="true" title="Copy to use medkit"></i>-->
                                <!--<i class="material-icons">local_pharmacy</i>-->
                                {{#treatment_obj}}
                                    <h4 class="card-title">Edit treatment</h4>
                                {{/treatment_obj}}
                                {{^treatment_obj}}
                                    <h4 class="card-title">New treatment</h4>
                                {{/treatment_obj}}
                            </div>
                            <div class="card-content">

                                <!-- add new treatment-->
                                {{^treatment_obj}}
                                    <!--<h4 class="card-title">Add treatment</h4>-->
                                    <form name="treatment-form" id="treatment-form" class="form"
                                          action="/save_treatment" method="post">
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Treatment name</label>
                                            <input class="form-control" type="text" name="name" id="name" tabindex="1">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Treatment cost</label>
                                            <input class="form-control" type="text" name="cost" id="cost" tabindex="2">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 form-group label-floating ">
                                            <label class="control-label">Instructions</label>
                                            <input class="form-control" type="text" name="instruction" id="instruction">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 footer text-center">
                                            <input type="submit" class="btn btn-primary btn-round" value="Submit"/>
                                        </div>
                                    </form>
                                {{/treatment_obj}}

                                <!-- update treatment-->
                                {{#treatment_obj}}
                                    <!--<h4 class="card-title">Edit treatment</h4>-->
                                    <form name="update-treatment-form" id="update-treatment-form" class="form"
                                          action="/update_treatment" method="post">
                                        <input type="hidden" name="t_id" id="t_id" value="{{id}}">

                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Treatment title</label>
                                            <input class="form-control" type="text" name="name" id="name" tabindex="1"
                                                   value="{{name}}">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Treatment cost</label>
                                            <input class="form-control" type="text" name="cost" id="cost" tabindex="2"
                                                   value="{{cost}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-12 form-group label-floating ">
                                            <label class="control-label">Instructions</label>
                                            <input class="form-control" type="text" name="instruction" id="instruction"
                                                   tabindex="3" value="{{instruction}}">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 footer text-center">
                                            <input type="submit" class="btn btn-primary btn-round" value="Update"/>
                                        </div>
                                    </form>
                                {{/treatment_obj}}


                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {{> footer}}
        </div>

    </div>
</div>
</body>

{{> script}}
