<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#"></a>-->
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">face</i>
                        <p class="hidden-lg hidden-md">User</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user_profile">My profile</a></li>
                        <li><a href="/logout">Sign out</a></li>
                    </ul>
                </li>

            </ul>

            <form action="/search_patient" method="post" class="navbar-form navbar-right" role="search">
                <div class="form-group  is-empty">
                    <input type="text" class="form-control" id="patient_name" name="patient_name"
                           required placeholder="Search patient">
                    <span class="material-input"></span>
                </div>
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" data-toggle="modal" data-target="#quick_add_view" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">person_add</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
