<!DOCTYPE html>
<html>
<head>
    <title>Error page</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
</head>
<body>
<h1>ERROR : Bad request </h1>
</body>
</html>
