<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#"></a>-->
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--<i class="material-icons">face</i>-->
                        <label>Medicine</label>
                        <p class="hidden-lg hidden-md">Medicine</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/new_medicine">New medicine</a></li>
                        <li><a href="/show_medicines">Show medicines</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--<i class="material-icons">insert_invitation</i>-->
                        <label>Treatment</label>
                        <p class="hidden-lg hidden-md">Treatment</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/new_treatment">New treatment</a></li>
                        <li><a href="/show_treatments">Show treatments</a></li>
                    </ul>
                </li>
                {{#doctor}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--<i class="material-icons">healing</i>-->
                        <label>Payment</label>
                        <p class="hidden-lg hidden-md">Payment</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/new_payment">New payment</a></li>
                        <li><a href="/show_payments">Show payments</a></li>
                    </ul>
                </li>
                {{/doctor}}
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">face</i>
                        <p class="hidden-lg hidden-md">User</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user_profile">My profile</a></li>
                        <li><a href="/logout">Sign out</a></li>
                    </ul>
                </li>
            </ul>

            <form action="/search_patient" method="post" class="navbar-form navbar-right" role="search">
                <div class="form-group  is-empty">
                    <input type="text" class="form-control" id="patient_name" name="patient_name" required
                           placeholder="Search patient">
                    <span class="material-input"></span>
                </div>
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </form>
        </div>
    </div>
</nav>
