<div class="col-md-3">
    <div class="card card-profile">
        <div class="card-avatar">
            <a href="#pablo">
                <img class="avatar" src="../images/faces/default-user.png" alt="...">
            </a>
        </div>
        <div class="card-content">
            <h4 class="card-title">Sherlock Holmes</h4>
        </div>
    </div>

    <div class="card">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <!--<span class="nav-tabs-title">Tasks:</span>-->
                <ul class="nav nav-tabs" data-tabs="tabs" style="margin: -15px 15px 0;">
                    <li class="">
                        <a href="#profile" data-toggle="tab">
                            <i class="material-icons">link</i> Links
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-content">
            <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><a href="/appointment">Appointment</a></td>
                        </tr>
                        <tr>
                            <td><a href="/treatment">Treatment</a></td>
                        </tr>
                        <tr>
                            <td><a href="/fees">Fees</a></td>
                        </tr>
                        <tr>
                            <td><a href="/prescription">Prescription</a></td>
                        </tr>
                        <tr>
                            <td><a href="/user_session">Session</a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
