<!--   Core JS Files   -->
<script src='/javascripts/jquery-3.1.0.min.js' type="text/javascript"></script>
<script src='/javascripts/bootstrap.min.js' type="text/javascript"></script>
<script src='/javascripts/material.min.js' type="text/javascript"></script>

<!--  Charts Plugin -->
<script src='/javascripts/chartist.min.js'></script>

<!--  Select Plugin -->
<!--<script src='/javascripts/select-bootstrap.js'></script>-->
<!--<script src='/javascripts/bootstrap-datetimepicker.min.js'></script>-->

<!--  Notifications Plugin    -->
<script src='/javascripts/bootstrap-notify.js'></script>

<!--  Google Maps Plugin    -->
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>-->

<!-- Material Dashboard javascript methods -->
<script src='/javascripts/material-dashboard.js'></script>

<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src='/javascripts/demo.js'></script>

<!-- action js for this application only-->
<script src='/javascripts/action.js'></script>

<script type="text/javascript">
    $().ready(function () {
        demo.checkFullPageBackgroundImage();

        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('.card').removeClass('card-hidden');
        }, 700)
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        md.initSliders()
        demo.initFormExtendedDatetimepickers();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>
</html>
