<div class="sidebar" data-color="purple" data-image="/images/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->

    <div class="logo">
        <a href="/" class="simple-text">
            Skinsure Clinic
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <!--<li class="active">-->
            <!--<a href="/">-->
            <!--<i class="material-icons">dashboard</i>-->
            <!--<p>Dashboard</p>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="/user_profile">-->
            <!--<i class="material-icons">person</i>-->
            <!--<p>My Profile</p>-->
            <!--</a>-->
            <!--</li>-->

            <li class="">
                <a href="/patient_dashboard">
                    <i class="material-icons">dashboard</i>
                    <p>Patient dashboard</p>
                </a>
            </li>
            {{^reception}}
                <li class="">
                    <a href="/doctor_dashboard">
                        <i class="material-icons">dashboard</i>
                        <p>Doctor dashboard</p>
                    </a>
                </li>
            {{/reception}}
            {{^doctor}}
                <li class="">
                    <a href="/reception_dashboard">
                        <i class="material-icons">dashboard</i>
                        <p>Reception dashboard</p>
                    </a>
                </li>
            {{/doctor}}


            <!--<li>-->
            <!--<a data-toggle="collapse" href="#Medicine" class="collapsed" aria-expanded="false">-->
            <!--<i class="material-icons">image</i>-->
            <!--<p>Medicines-->
            <!--<b class="caret"></b>-->
            <!--</p>-->
            <!--</a>-->
            <!--<div class="collapse" id="Medicine" aria-expanded="false" style="height: 0px;">-->
            <!--<ul class="nav">-->
            <!--<li>-->
            <!--<a href="/new_medicine">New medicine</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="/show_medicines">Show medicines</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a data-toggle="collapse" href="#Treatments" class="collapsed" aria-expanded="false">-->
            <!--<i class="material-icons">image</i>-->
            <!--<p>Treatments-->
            <!--<b class="caret"></b>-->
            <!--</p>-->
            <!--</a>-->
            <!--<div class="collapse" id="Treatments" aria-expanded="false" style="height: 0px;">-->
            <!--<ul class="nav">-->
            <!--<li>-->
            <!--<a href="/new_treatment">New treatment</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="/show_treatments">Show treatments</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a data-toggle="collapse" href="#Payments" class="collapsed" aria-expanded="false">-->
            <!--<i class="material-icons">image</i>-->
            <!--<p>Payments-->
            <!--<b class="caret"></b>-->
            <!--</p>-->
            <!--</a>-->
            <!--<div class="collapse" id="Payments" aria-expanded="false" style="height: 0px;">-->
            <!--<ul class="nav">-->
            <!--<li>-->
            <!--<a href="/new_payment">New payment</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="/show_payments">Show payments</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</li>-->

            <!--<li>-->
            <!--<a data-toggle="collapse" href="#Patient" class="collapsed" aria-expanded="false">-->
            <!--<i class="material-icons">image</i>-->
            <!--<p>Patient-->
            <!--<b class="caret"></b>-->
            <!--</p>-->
            <!--</a>-->
            <!--<div class="collapse" id="Patient" aria-expanded="false" style="height: 0px;">-->
            <!--<ul class="nav">-->
            <!--<li>-->
            <!--<a href="/new_patient">New patient profile</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="/show_patients">Show patients</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a data-toggle="collapse" href="#Appointment" class="collapsed" aria-expanded="false">-->
            <!--<i class="material-icons">image</i>-->
            <!--<p>Appointment-->
            <!--<b class="caret"></b>-->
            <!--</p>-->
            <!--</a>-->
            <!--<div class="collapse" id="Appointment" aria-expanded="false" style="height: 0px;">-->
            <!--<ul class="nav">-->
            <!--<li>-->
            <!--<a href="/new_appointment">New appointment</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="/show_appointments">Show appointments</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a data-toggle="collapse" href="#Session" class="collapsed" aria-expanded="false">-->
            <!--<i class="material-icons">image</i>-->
            <!--<p>Session-->
            <!--<b class="caret"></b>-->
            <!--</p>-->
            <!--</a>-->
            <!--<div class="collapse" id="Session" aria-expanded="false" style="height: 0px;">-->
            <!--<ul class="nav">-->
            <!--<li>-->
            <!--<a href="/new_treatment">New treatment</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="/show_treatment">Show treatments</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a data-toggle="collapse" href="#PatientTreatment" class="collapsed" aria-expanded="false">-->
            <!--<i class="material-icons">image</i>-->
            <!--<p>Patient treatment-->
            <!--<b class="caret"></b>-->
            <!--</p>-->
            <!--</a>-->
            <!--<div class="collapse" id="PatientTreatment" aria-expanded="false" style="height: 0px;">-->
            <!--<ul class="nav">-->
            <!--<li>-->
            <!--<a href="/new_session">New session</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="/show_sessions">Show sessions</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a data-toggle="collapse" href="#Payment" class="collapsed" aria-expanded="false">-->
            <!--<i class="material-icons">image</i>-->
            <!--<p>Payment-->
            <!--<b class="caret"></b>-->
            <!--</p>-->
            <!--</a>-->
            <!--<div class="collapse" id="Payment" aria-expanded="false" style="height: 0px;">-->
            <!--<ul class="nav">-->
            <!--<li>-->
            <!--<a href="/new_Payment">New payment</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="/show_payments">Show payments</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</li>-->
        </ul>
    </div>
</div>
