{{> default_header}}
<body style="background: url(images/register.jpeg);background-size: 100%;background-repeat: no-repeat;">

<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SkinSure Clinic</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li>
                <a href="../dashboard.html">
                <i class="material-icons">dashboard</i> Dashboard
                </a>
                </li>
                <li class=" active ">
                    <a href="/register">
                        <i class="material-icons">person_add</i> Register
                    </a>
                </li>
                <li class="">
                <a href="/signin">
                <i class="material-icons">fingerprint</i> Login
                </a>
                </li>
                <li class="">
                <a href="lock.html">
                <i class="material-icons">lock_open</i> Lock
                </a>
                </li>-->
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page">
    <div class="full-page register-page"
         filter-color="black" data-image="images/register.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">Signin</h2>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <form name="signin" class="form" action="/authenticate_user" method="post">
                                    <div class="card-content">

                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">email</i>
                                                </span>
                                            <div class="form-group is-empty">
                                                <input class="form-control" placeholder="Email..." required
                                                       name="email" id="email" type="text">
                                                <span class="material-input"></span></div>
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group is-empty">
                                                <input class="form-control" placeholder="Password..." required
                                                       name="password" id="password" type="password">
                                                <span class="materisal-input"></span><span
                                                    class="material-input"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <!--<div class="checkbox">-->
                                    <!--<label>-->
                                    <!--<input type="checkbox" name="optionsCheckboxes">-->
                                    <!--I agree to the-->
                                    <!--<a href="#something">terms and conditions</a>.-->
                                    <!--</label>-->
                                    <!--</div>-->

                                    <div class="col-md-12 footer text-center">
                                        <input type="submit" class="btn btn-primary btn-round" value="Submit"/>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="full-page-background" style="background-image:url(/images/register.jpeg)"></div>-->
    </div>
    {{> footer}}
</div>

</body>

{{> script}}
