{{> patient/patient_header}}

<body>
<div class="wrapper">

    {{> sidebar}}


    <div class="main-panel">

        {{> navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">

                            <div class="card-header card-header-icon" data-background-color="purple">
                                <!--<i class="fa fa-fw" aria-hidden="true" title="Copy to use medkit"></i>-->
                                <i class="material-icons">local_pharmacy</i>
                            </div>
                            <div class="card-content">


                                {{#treatment_obj}}
                                    <h4 class="card-title">Edit treatment</h4>
                                    <form name="update-treatment-form" id="update-treatment-form" class="form"
                                          action="/update_treatment"
                                          method="post">
                                        <input type="hidden" name="t_id" id="t_id" value="{{id}}">

                                        <div class="col-md-6 form-group is-empty">
                                            <input class="form-control" type="text" name="name" id="name" tabindex="1"
                                                   value="{{name}}" placeholder="Treatment title">
                                        </div>
                                        <div class="col-md-6 form-group is-empty">
                                            <input class="form-control" type="text" name="cost" id="cost" tabindex="2"
                                                   value="{{cost}}" placeholder="Treatment cost">
                                        </div>
                                        <div class="col-md-6 form-group is-empty">
                                            <input class="form-control" type="text" name="instruction" id="instruction"
                                                   tabindex="3" value="{{instruction}}" placeholder="Instructions">
                                        </div>

                                        <!--<div class="col-md-6 form-group is-empty">-->
                                        <!--<div class="btn-group bootstrap-select show-tick" style="margin-top: 2px;">-->
                                        <!--<select class="selectpicker" name="tag" id="tag"-->
                                        <!--data-style="select-with-transition"-->
                                        <!--title="Select treatment type" tabindex="2">-->
                                        <!--<option value="Skin">Skin</option>-->
                                        <!--<option value="Hair">Hair</option>-->
                                        <!--</select>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <div class="col-md-12 footer text-center">
                                            <input type="submit" class="btn btn-primary btn-round" value="Submit"/>
                                        </div>
                                    </form>
                                {{/treatment_obj}}

                                {{^treatment_obj}}
                                    <h4 class="card-title">Add treatment</h4>
                                    <form name="treatment-form" id="treatment-form" class="form"
                                          action="/save_treatment"
                                          method="post">
                                        <div class="col-md-6 form-group is-empty">
                                            <input class="form-control" type="text" name="name" id="name" tabindex="1"
                                                   placeholder="Treatment name">
                                        </div>
                                        <div class="col-md-6 form-group is-empty">
                                            <input class="form-control" type="text" name="cost" id="cost" tabindex="2"
                                                   placeholder="Treatment cost">
                                        </div>
                                        <div class="col-md-6 form-group is-empty">
                                            <input class="form-control" type="text" name="instruction" id="instruction"
                                                   tabindex="3" placeholder="Instructions">
                                        </div>

                                        <!--<div class="col-md-6 form-group is-empty">-->
                                        <!--<div class="btn-group bootstrap-select show-tick" style="margin-top: 2px;">-->
                                        <!--<select class="selectpicker" name="tag" id="tag"-->
                                        <!--data-style="select-with-transition"-->
                                        <!--title="Select treatment type" tabindex="2">-->
                                        <!--<option value="Skin">Skin</option>-->
                                        <!--<option value="Hair">Hair</option>-->
                                        <!--</select>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <div class="col-md-12 footer text-center">
                                            <input type="submit" class="btn btn-primary btn-round" value="Submit"/>
                                        </div>
                                    </form>
                                {{/treatment_obj}}

                            </div>
                        </div>
                    </div>
                    {{> patient_links}}
                </div>
            </div>

            {{> footer}}
        </div>
    </div>
</div>
</body>

{{> script}}
