/*bootstrap css for 5 equal partitions */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/*custom globle class*/
.padding0{
    padding:0 !important;
}

select.selectpicker{
    width: 100%;
    height: auto;
    min-height: 30px;
    background: none;
    border-color: #ccc;
    border-radius: 3px;
}
.card .card-content{
    /*display: inline-block;*/
    padding: 20px !important;
}

#medicine-form button > span {
    font-size: 14px;
    margin-bottom: 3px;
    text-transform: none;
}

#today .card-stats .card-content,
#weekly .card-stats .card-content,
#monthly .card-stats .card-content,
#next_month .card-stats .card-content{
    text-align: left !important;
}

.navbar .navbar-nav > li > a .material-icons, .navbar .navbar-nav > li > a .fa {
    font-size: 30px !important;
}

.pd-menu .card-stats .card-content {
    padding-top: 15px;
    text-align: center;
}

.pd-menu .card .card-header {
    padding: 17px;
    float: none;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

.pd-menu .card .card-footer {
    margin: 0;
    padding: 10px 0;
}

.pd-menu .card-footer .stats {
    display: block !important;
    text-align: center !important;
    font-size: 15px;
}

.pd-menu .card .card-footer .stats .material-icons {
    font-size: 18px;
    margin-right: 3px;
    position: relative;
    top: 0;
}

.pd-menu .card-footer > .col-lg-6:first-child {
    border-right: 1px solid #eeeeee;
}

.reason > h4, .reason > h6 {
    margin: 0;
    text-transform: none;
}

.reason > h6 {
    font-size: 12px;
}

#appointment .material-icons {
    font-size: 25px;
}

.patient_list .profile_image {
    max-width: 60px;
    height: 60px;
    margin: 0 auto;
}

.patient_list .profile_image img {
    border-radius: 50%;
}
.patient_list h4{
    margin: 10px 0 0;
}
.patient_list h5{
    font-size: 100%;
    margin: 0;
}
.patient_list ul li{
    display: block;
}
.action_buttons .btn{
    padding: 7px;
    height: 32px;
    width: 32px;
    border: 1px solid;
    border-radius: 50%;
    color: #212121 !important;
}

.card-header .avatar {
    max-width: 40px;
    height: auto;
}
.card-header  lable {
    height: 40px;
    padding: 10px;
}


/* show patient session page css*/
#show_sessions_page table th{
    text-align: center;
}

#show_sessions_page .session_image{
    max-width: 100px;
    height:auto;
    width:100%;
}

/* New patient profile form css*/
#patient-form .profile_image{
    max-width: 130px;
    height: auto;
    width: 100%;
    margin: 0 auto;
}
#patient-form .profile_image img {
    border: 2px solid #ccc;
    border-radius: 50%;
}