{{> patient/patient_header}}

<body>
<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> patient/patient_navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card">

                            <div class="card-header card-header-icon" data-background-color="purple">
                                <!--<i class="fa fa-fw" aria-hidden="true" title="Copy to use medkit"></i>-->
                                <!--<i class="material-icons">local_pharmacy</i>-->
                                {{^multiplePatients}}
                                    <h4 class="card-title">Edit appointment</h4>
                                    {{#patient_objs}}
                                        <lable class="pull-right">{{first_name}} {{last_name}}</lable>
                                        <img class="avatar pull-right" src="../images/faces/default-user.png" alt="...">
                                    {{/patient_objs}}
                                {{/multiplePatients}}
                                {{#multiplePatients}}
                                    <h4 class="card-title">New appointment</h4>
                                {{/multiplePatients}}
                            </div>
                            <div class="card-content">
                                <!--<h4 class="card-title">Add appointment</h4>-->

                                <!-- add new appointment session-->
                                {{^appointment_obj}}
                                    <form name="appointment-form" id="appointment-form" class="form"
                                          action="/save_appointment" method="post">

                                        <div id="calendar"></div>
                                        <script type="text/javascript">
                                            var calendar = $("#calendar").calendar(
                                                    {
                                                        tmpl_path: "/tmpls/",
                                                        events_source: function () { return []; }
                                                    });
                                        </script>

                                        {{#multiplePatients}}
                                            <div class="col-md-6 form-group label-floating ">
                                                <label class="control-label">Select patient</label>
                                                <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                     style="margin-top: 2px;">
                                                    <select class="selectpicker" name="patient_id" id="patient_id"
                                                            data-style="select-with-transition"
                                                            title="Select room" tabindex="6">

                                                        <option selected disabled>Select patient</option>
                                                        {{#patient_objs}}
                                                            <option value="{{id}}">{{first_name}} {{last_name}}</option>
                                                        {{/patient_objs}}
                                                    </select>
                                                </div>
                                                <span class="material-input"></span>
                                            </div>
                                            <div class="col-md-6 form-group label-floating ">
                                                <label class="control-label">Select room</label>
                                                <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                     style="margin-top: 2px;">
                                                    <select class="selectpicker" name="room" id="room"
                                                            data-style="select-with-transition"
                                                            title="Select room" tabindex="6">
                                                        <option selected disabled>Select room</option>
                                                        <option value="Doctor">Doctor</option>
                                                        <option value="Treatment">Treatment</option>
                                                        <option value="Laser">Laser</option>
                                                    </select>
                                                </div>
                                                <span class="material-input"></span>
                                            </div>

                                        {{/multiplePatients}}
                                        {{^multiplePatients}}
                                            {{#patient_objs}}
                                                <input class="form-control" name="patient_id" id="patient_id"
                                                       type="hidden"
                                                       value="{{id}}">
                                            {{/patient_objs}}
                                            <div class="col-md-12 form-group label-floating ">
                                                <label class="control-label">Select room</label>
                                                <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                     style="margin-top: 2px;">
                                                    <select class="selectpicker" name="room" id="room"
                                                            data-style="select-with-transition"
                                                            title="Select room" tabindex="6">
                                                        <option selected disabled>Select room</option>
                                                        <option value="Doctor">Doctor</option>
                                                        <option value="Treatment">Treatment</option>
                                                        <option value="Laser">Laser</option>
                                                    </select>
                                                </div>
                                                <span class="material-input"></span>
                                            </div>

                                        {{/multiplePatients}}

                                        <div class="col-md-4 form-group label-floating ">
                                            <label class="control-label">Date(YYYY-MM-DD)</label>
                                            <input class="form-control" name="date" id="date" type="text">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-4 form-group label-floating ">
                                            <label class="control-label">Start time</label>
                                            <input class="form-control"
                                                   name="start_time" id="start_time" type="text">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-4 form-group label-floating ">
                                            <label class="control-label">End time</label>
                                            <input class="form-control" name="end_time" id="end_time" type="text">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-12 form-group label-floating ">
                                            <label class="control-label">Reason</label>
                                            <input class="form-control" name="reason" id="reason" type="text">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 form-group label-floating ">
                                            <label class="control-label">Visit status</label>
                                            <div class="col-md-3">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="flag" id="flag1" checked="true"
                                                               value="Not visited">
                                                        Not visited
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="flag" id="flag2" value="Visited">
                                                        Visited
                                                    </label>
                                                </div>
                                            </div>
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 footer text-center">
                                            <input type="submit" class="btn btn-primary btn-round" value="Submit"/>
                                        </div>
                                    </form>
                                {{/appointment_obj}}

                                <!-- update appointment session-->
                                {{#appointment_obj}}
                                    <form name="update-appointment-form" id="update-appointment-form" class="form"
                                          action="/update_appointment"
                                          method="post">
                                        <input type="hidden" name="aid" id="aid" value="{{id}}">

                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Patient name</label>
                                            {{#patient_obj}}
                                                <input class="form-control" name="patient_id" id="patient_id"
                                                       type="hidden" value="{{id}}">
                                                <input class="form-control" name="patient_name" id="patient_name"
                                                       type="text" value="{{first_name}} {{last_name}}" disabled>
                                            {{/patient_obj}}
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Select room</label>
                                            <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                 style="margin-top: 2px;">
                                                <select class="selectpicker" name="room" id="room"
                                                        data-style="select-with-transition"
                                                        title="Select room" tabindex="6">
                                                    <option selected disabled>Select room</option>
                                                    <option value="Doctor">Doctor</option>
                                                    <option value="Treatment">Treatment</option>
                                                    <option value="Laser">Laser</option>
                                                </select>
                                            </div>
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-4 form-group label-floating ">
                                            <label class="control-label">Date(YYYY-MM-DD)</label>
                                            <input class="form-control" name="date" id="date" type="text"
                                                   value="{{date}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-4 form-group label-floating ">
                                            <label class="control-label">Start time</label>
                                            <input class="form-control" name="start_time" id="start_time" type="text"
                                                   value="{{start_time}}">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-4 form-group label-floating ">
                                            <label class="control-label">End time</label>
                                            <input class="form-control" name="end_time" id="end_time" type="text"
                                                   value="{{end_time}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-12 form-group label-floating ">
                                            <label class="control-label">Reason</label>
                                            <input class="form-control" name="reason" id="reason" type="text"
                                                   value="{{reason}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-12 form-group label-floating ">
                                            <label class="control-label">Visit status</label>
                                            <div class="col-md-4">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="flag" id="flag" value="Not visited">
                                                        Not visited
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="flag" id="flag" value="Visited">
                                                        Visited
                                                    </label>
                                                </div>
                                            </div>
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 footer text-center">
                                            <input type="submit" class="btn btn-primary btn-round" value="Update"/>
                                        </div>
                                    </form>
                                {{/appointment_obj}}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{> footer}}
        </div>
    </div>
</div>
</body>

{{> script}}

{{#appointment_obj}}
    <script type="application/javascript">

        $(document).ready(function () {
            $("select#patient_id option[value=" + "{{patient_id}}" + "]").attr("selected", "selected");
            $("select#room option[value=" + "{{room}}" + "]").attr("selected", "selected");
            $("input[name=flag][value='" + "{{flag}}" + "']").prop("checked", true);
            // you need to specify id of combo to set right combo, if more than one combo
        });
    </script>
{{/appointment_obj}}
