{{> patient/patient_header}}

<body>
<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> patient/patient_navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <h1>New bloodtest !!!</h1>
                    <h4>coming soon...</h4>

                    <!--<div class="col-md-10 col-md-offset-1">-->
                        <!--<div class="card">-->

                            <!--<div class="card-header card-header-icon" data-background-color="purple">-->
                                <!--&lt;!&ndash;<i class="fa fa-fw" aria-hidden="true" title="Copy to use medkit"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;<i class="material-icons">local_pharmacy</i>&ndash;&gt;-->
                                <!--{{^multiplePatients}}-->
                                    <!--<i class="material-icons">insert_invitation</i>-->
                                    <!--{{#patient_objs}}-->
                                        <!--<lable class="pull-right">{{first_name}} {{last_name}}</lable>-->
                                        <!--<img class="avatar pull-right" src="../images/faces/default-user.png" alt="...">-->
                                    <!--{{/patient_objs}}-->
                                <!--{{/multiplePatients}}-->
                                <!--{{#multiplePatients}}-->
                                    <!--&lt;!&ndash;<i class="material-icons">insert_invitation</i>&ndash;&gt;-->
                                    <!--<h4 class="card-title">Add blood test report</h4>-->

                                <!--{{/multiplePatients}}-->
                            <!--</div>-->
                            <!--<div class="card-content">-->
                                <!--&lt;!&ndash;<h4 class="card-title">Add blood test report</h4>&ndash;&gt;-->

                                <!--&lt;!&ndash; add new blood test report&ndash;&gt;-->
                                <!--{{^bloodtest_obj}}-->
                                    <!--<form name="bloodtest-form" id="bloodtest-form" class="form"-->
                                          <!--action="/save_bloodtest" method="post">-->

                                        <!--<div class="well">-->
                                            <!--<div id="datetimepicker1" class="input-append date">-->
                                                <!--<input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>-->
                                                <!--<span class="add-on">-->
                                                    <!--<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>-->
                                                <!--</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<script type="text/javascript">-->
                                            <!--$(function () {-->
                                                <!--$('#datetimepicker1').datetimepicker({-->
                                                    <!--language: 'pt-BR'-->
                                                <!--});-->
                                            <!--});-->
                                        <!--</script>-->

                                        <!--{{#multiplePatients}}-->
                                            <!--<div class="col-md-6 form-group label-floating ">-->
                                                <!--<label class="control-label">Select patient</label>-->
                                                <!--<div class="col-md-12 btn-group bootstrap-select show-tick"-->
                                                     <!--style="margin-top: 2px;">-->
                                                    <!--<select class="selectpicker" name="patient_id" id="patient_id"-->
                                                            <!--data-style="select-with-transition"-->
                                                            <!--title="Select room" tabindex="6">-->

                                                        <!--<option selected disabled>Select patient</option>-->
                                                        <!--{{#patient_objs}}-->
                                                            <!--<option value="{{id}}">{{first_name}} {{last_name}}</option>-->
                                                        <!--{{/patient_objs}}-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                                <!--<span class="material-input"></span>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-6 form-group label-floating ">-->
                                                <!--<label class="control-label">Select room</label>-->
                                                <!--<div class="col-md-12 btn-group bootstrap-select show-tick"-->
                                                     <!--style="margin-top: 2px;">-->
                                                    <!--<select class="selectpicker" name="room" id="room"-->
                                                            <!--data-style="select-with-transition"-->
                                                            <!--title="Select room" tabindex="6">-->
                                                        <!--<option selected disabled>Select room</option>-->
                                                        <!--<option value="Doctor">Doctor</option>-->
                                                        <!--<option value="Treatment">Treatment</option>-->
                                                        <!--<option value="Laser">Laser</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                                <!--<span class="material-input"></span>-->
                                            <!--</div>-->

                                        <!--{{/multiplePatients}}-->
                                        <!--{{^multiplePatients}}-->
                                            <!--{{#patient_objs}}-->
                                                <!--<input class="form-control" name="patient_id" id="patient_id"-->
                                                       <!--type="hidden"-->
                                                       <!--value="{{id}}">-->
                                            <!--{{/patient_objs}}-->
                                            <!--<div class="col-md-12">-->
                                                <!--<div class="col-md-6 form-group label-floating ">-->
                                                    <!--<label class="control-label">Select room</label>-->
                                                    <!--<div class="col-md-12 btn-group bootstrap-select show-tick"-->
                                                         <!--style="margin-top: 2px;">-->
                                                        <!--<select class="selectpicker" name="room" id="room"-->
                                                                <!--data-style="select-with-transition"-->
                                                                <!--title="Select room" tabindex="6">-->
                                                            <!--<option selected disabled>Select room</option>-->
                                                            <!--<option value="Doctor">Doctor</option>-->
                                                            <!--<option value="Treatment">Treatment</option>-->
                                                            <!--<option value="Laser">Laser</option>-->
                                                        <!--</select>-->
                                                    <!--</div>-->
                                                    <!--<span class="material-input"></span>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                        <!--{{/multiplePatients}}-->

                                        <!--<div class="col-md-4 form-group label-floating ">-->
                                            <!--<label class="control-label">Date(YYYY-MM-DD)</label>-->
                                            <!--<input class="form-control" name="date" id="date" type="text">-->
                                            <!--<span class="material-input"></span>-->
                                        <!--</div>-->

                                        <!--<div class="col-md-4 form-group label-floating ">-->
                                            <!--<label class="control-label">Start time</label>-->
                                            <!--<input class="form-control"-->
                                                   <!--name="start_time" id="start_time" type="text">-->
                                            <!--<span class="material-input"></span>-->
                                        <!--</div>-->

                                        <!--<div class="col-md-4 form-group label-floating ">-->
                                            <!--<label class="control-label">End time</label>-->
                                            <!--<input class="form-control" name="end_time" id="end_time" type="text">-->
                                            <!--<span class="material-input"></span>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-12 form-group label-floating ">-->
                                            <!--<label class="control-label">Reason</label>-->
                                            <!--<input class="form-control" name="reason" id="reason" type="text">-->
                                            <!--<span class="material-input"></span>-->
                                        <!--</div>-->

                                        <!--<div class="col-md-12 form-group label-floating ">-->
                                            <!--<label class="control-label">Visit status</label>-->
                                            <!--<div class="col-md-3">-->
                                                <!--<div class="radio">-->
                                                    <!--<label>-->
                                                        <!--<input type="radio" name="flag" id="flag1" checked="true"-->
                                                               <!--value="Not visited">-->
                                                        <!--Not visited-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-3">-->
                                                <!--<div class="radio">-->
                                                    <!--<label>-->
                                                        <!--<input type="radio" name="flag" id="flag2" value="Visited">-->
                                                        <!--Visited-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<span class="material-input"></span>-->
                                        <!--</div>-->

                                        <!--<div class="col-md-12 footer text-center">-->
                                            <!--<input type="submit" class="btn btn-primary btn-round" value="Add"/>-->
                                        <!--</div>-->
                                    <!--</form>-->

                                <!--{{/bloodtest_obj}}-->

                                <!--&lt;!&ndash; update blood test report&ndash;&gt;-->
                                <!--{{#bloodtest_obj}}-->
                                    <!--<form name="update-bloodtest-form" id="update-bloodtest-form" class="form"-->
                                          <!--action="/update_bloodtest"-->
                                          <!--method="post">-->
                                        <!--<input type="hidden" name="btid" id="btid" value="{{id}}">-->

                                        <!--<div class="col-md-6 form-group label-floating ">-->
                                            <!--<label class="control-label">Patient name</label>-->
                                            <!--{{#patient_obj}}-->
                                                <!--<input class="form-control" name="patient_id" id="patient_id"-->
                                                       <!--type="hidden" value="{{id}}">-->
                                                <!--<input class="form-control" name="patient_name" id="patient_name"-->
                                                       <!--type="text" value="{{first_name}} {{last_name}}" disabled>-->
                                            <!--{{/patient_obj}}-->
                                            <!--<span class="material-input"></span>-->
                                        <!--</div>-->

                                        <!--<div class="col-md-6 form-group label-floating ">-->
                                            <!--<label class="control-label">Select room</label>-->
                                            <!--<div class="col-md-12 btn-group bootstrap-select show-tick"-->
                                                 <!--style="margin-top: 2px;">-->
                                                <!--<select class="selectpicker" name="room" id="room"-->
                                                        <!--data-style="select-with-transition"-->
                                                        <!--title="Select room" tabindex="6">-->
                                                    <!--<option selected disabled>Select room</option>-->
                                                    <!--<option value="Doctor">Doctor</option>-->
                                                    <!--<option value="Treatment">Treatment</option>-->
                                                    <!--<option value="Laser">Laser</option>-->
                                                <!--</select>-->
                                            <!--</div>-->
                                            <!--<span class="material-input"></span>-->
                                        <!--</div>-->

                                        <!--<div class="col-md-4 form-group label-floating ">-->
                                            <!--<label class="control-label">Date(YYYY-MM-DD)</label>-->
                                            <!--<input class="form-control" name="date" id="date" type="text"-->
                                                   <!--value="{{date}}">-->
                                            <!--<span class="material-input"></span>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-4 form-group label-floating ">-->
                                            <!--<label class="control-label">Start time</label>-->
                                            <!--<input class="form-control" name="start_time" id="start_time" type="text"-->
                                                   <!--value="{{start_time}}">-->
                                            <!--<span class="material-input"></span>-->
                                        <!--</div>-->

                                        <!--<div class="col-md-4 form-group label-floating ">-->
                                            <!--<label class="control-label">End time</label>-->
                                            <!--<input class="form-control" name="end_time" id="end_time" type="text"-->
                                                   <!--value="{{end_time}}">-->
                                            <!--<span class="material-input"></span>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-12 form-group label-floating ">-->
                                            <!--<label class="control-label">Reason</label>-->
                                            <!--<input class="form-control" name="reason" id="reason" type="text"-->
                                                   <!--value="{{reason}}">-->
                                            <!--<span class="material-input"></span>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-12 form-group label-floating ">-->
                                            <!--<label class="control-label">Visit status</label>-->
                                            <!--<div class="col-md-4">-->
                                                <!--<div class="radio">-->
                                                    <!--<label>-->
                                                        <!--<input type="radio" name="flag" id="flag" value="Not visited">-->
                                                        <!--Not visited-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-4">-->
                                                <!--<div class="radio">-->
                                                    <!--<label>-->
                                                        <!--<input type="radio" name="flag" id="flag" value="Visited">-->
                                                        <!--Visited-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<span class="material-input"></span>-->
                                        <!--</div>-->

                                        <!--<div class="col-md-12 footer text-center">-->
                                            <!--<input type="submit" class="btn btn-primary btn-round" value="Update"/>-->
                                        <!--</div>-->
                                    <!--</form>-->
                                <!--{{/bloodtest_obj}}-->


                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>

            {{> footer}}
        </div>
    </div>
</div>
</body>

{{> script}}

{{#bloodtest_obj}}
    <script type="application/javascript">

        $(document).ready(function () {
            $("select#patient_id option[value=" + "{{patient_id}}" + "]").attr("selected", "selected");
            $("select#room option[value=" + "{{room}}" + "]").attr("selected", "selected");
            $("input[name=flag][value='" + "{{flag}}" + "']").prop("checked", true);
            // you need to specify id of combo to set right combo, if more than one combo
        });
    </script>
{{/bloodtest_obj}}
