<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href='/images/apple-icon.png'/>
    <link rel="icon" type="image/png" href='/images/favicon.png'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>{{#title}}{{title}}{{/title}}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <!-- Bootstrap core CSS     -->
    <link href='/stylesheets/bootstrap.min.css' rel="stylesheet"/>

    <!--  Material Dashboard CSS    -->
    <link href='../stylesheets/material-dashboard.css' rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href='../stylesheets/demo.css' rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href='../stylesheets/googlefonts.css' rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href='http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' rel="stylesheet">

    <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/stylesheets'>-->
</head>
