<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#"></a>-->
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--<i class="material-icons">face</i>-->
                        <label>Patient profile</label>
                        <p class="hidden-lg hidden-md">User</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/new_patient">New patient</a></li>
                        <li><a href="/show_patients">Show patients</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--<i class="material-icons">insert_invitation</i>-->
                        <label>Appointment</label>
                        <p class="hidden-lg hidden-md">User</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/new_appointment">New appointment</a></li>
                        <li><a href="/show_appointments">Show appointments</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--<i class="material-icons">healing</i>-->
                        <label>Treatment</label>
                        <p class="hidden-lg hidden-md">User</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/new_patient_treatment">New patient treatment</a></li>
                        <li><a href="/show_patient_treatments">Show patient treatments</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--<i class="material-icons">group_work</i>-->
                        <label>Session</label>
                        <p class="hidden-lg hidden-md">User</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/new_session">New session</a></li>
                        <li><a href="/show_sessions">Show sessions</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--<i class="material-icons">group_work</i>-->
                        <label>Blood test</label>
                        <p class="hidden-lg hidden-md">User</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/new_bloodtest">New blood test</a></li>
                        <li><a href="/show_bloodtests">Show blood test</a></li>
                    </ul>
                </li>
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--<i class="material-icons">person</i>-->
                        <!--<p class="hidden-lg hidden-md">User</p>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="/user_profile">My profile</a></li>-->
                        <!--<li><a href="/logout">Sign out</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">face</i>
                        <p class="hidden-lg hidden-md">User</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user_profile">My profile</a></li>
                        <li><a href="/logout">Sign out</a></li>
                    </ul>
                </li>
            </ul>

            <form action="/search_patient" method="post" class="navbar-form navbar-right" role="search">
                <div class="form-group  is-empty">
                   <input type="text" class="form-control" id="patient_name" name="patient_name" required
                                   placeholder="Search patient">
                    <span class="material-input"></span>
                </div>
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </form>
        </div>
    </div>
</nav>
