{{> patient/patient_header}}

<body>

<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> patient/patient_navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card">

                            <div class="card-header card-header-icon" data-background-color="purple">
                                <!--<i class="fa fa-fw" aria-hidden="true" title="Copy to use medkit"></i>-->
                                <!--<i class="material-icons">local_pharmacy</i>-->
                                {{#patient_treatment_obj}}
                                    <h4 class="card-title">Edit treatment</h4>
                                {{/patient_treatment_obj}}
                                {{^patient_treatment_obj}}
                                    <h4 class="card-title">New treatment</h4>
                                {{/patient_treatment_obj}}
                            </div>
                            <div class="card-content">
                                <!--<h4 class="card-title">Add treatment</h4>-->

                                <!-- Add new patient treatment-->
                                {{^patient_treatment_obj}}
                                    <form name="patient-treatment-form" id="patient-treatment-form" class="form"
                                          action="/save_patient_treatment" method="post">

                                        <div class="col-md-12">
                                            <div class="col-md-6 form-group label-floating">
                                                <label class="control-label">Patient name</label>
                                                <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                     style="margin-top: 2px;">
                                                    <select class="selectpicker" name="patient_id" id="patient_id"
                                                            data-style="select-with-transition"
                                                            title="Select room" tabindex="6">
                                                        {{#patient_objs}}
                                                            <option value="{{id}}">{{first_name}} {{last_name}}</option>
                                                        {{/patient_objs}}
                                                    </select>
                                                </div>
                                                <span class="material-input"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">Concern</label>
                                            <input class="form-control" type="text" name="concern" id="concern">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">ODP</label>
                                            <input class="form-control" type="text" name="odp" id="odp">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">Associated features</label>
                                            <input class="form-control" type="text" name="associated_features"
                                                   id="associated_features">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">Personal history</label>
                                            <input class="form-control" type="text" name="personal_history"
                                                   id="personal_history">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">Medical history</label>
                                            <input class="form-control" type="text" name="medical_history"
                                                   id="medical_history">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">Drug history</label>
                                            <input class="form-control" type="text" name="drug_history"
                                                   id="drug_history">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">Family history</label>
                                            <input class="form-control" type="text" name="family_history"
                                                   id="family_history">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">Parlour activities</label>
                                            <input class="form-control" type="text" name="parlour_activities"
                                                   id="parlour_activities">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">Use of products</label>
                                            <input class="form-control" type="text" name="use_of_products"
                                                   id="use_of_products">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">Menstrual history</label>
                                            <input class="form-control" type="text" name="menstrual_history"
                                                   id="menstrual_history">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">OCP history</label>
                                            <input class="form-control" type="text" name="ocp_history" id="ocp_history">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">Obstetrics history</label>
                                            <input class="form-control" type="text" name="obstetrics_history"
                                                   id="obstetrics_history">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">Examination</label>
                                            <input class="form-control" type="text" name="examination" id="examination">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">Diagnosis</label>
                                            <input class="form-control" type="text" name="diagnosis" id="diagnosis">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">Treatment description</label>
                                            <input class="form-control" type="text" name="treatment_description"
                                                   id="treatment_description">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-6 form-group label-floating">
                                            <label class="control-label">Treatment name</label>
                                            <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                 style="margin-top: 2px;">
                                                <select class="selectpicker" name="treatment_id" id="treatment_id"
                                                        data-style="select-with-transition"
                                                        title="Select room" tabindex="6">
                                                    {{#treatment_objs}}
                                                        <option value="{{id}}">{{name}}</option>
                                                    {{/treatment_objs}}
                                                </select>
                                            </div>
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-12 form-group label-floating">
                                            <label class="control-label">Flag</label>
                                            <input class="form-control" type="text" name="flag" id="flag">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 footer text-center">
                                            <input type="submit" class="btn btn-primary btn-round" value="Submit"/>
                                        </div>
                                    </form>
                                {{/patient_treatment_obj}}

                                <!-- update patient treatment-->
                                {{#patient_treatment_obj}}
                                    <form name="update-patient-treatment-form" id="patient-treatment-form" class="form"
                                          action="/update_patient_treatment"
                                          method="post">
                                        <input type="hidden" name="t_id" id="t_id" value="{{id}}">

                                        <div class="col-md-12 ">
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Select patient</label>
                                            <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                 style="margin-top: 2px;">
                                                <select class="selectpicker" name="patient_id" id="patient_id"
                                                        data-style="select-with-transition"
                                                        title="Select room" tabindex="6">
                                                    {{#patient_objs}}
                                                        <option value="{{id}}">{{first_name}} {{last_name}}</option>
                                                    {{/patient_objs}}
                                                </select>
                                            </div>
                                            <span class="material-input"></span>
                                        </div>
                                        </div>

                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Concern</label>
                                            <input class="form-control" type="text" name="concern" id="concern"
                                                   value="{{concern}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">ODP</label>
                                            <input class="form-control" type="text" name="odp" id="odp" value="{{odp}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Associated features</label>
                                            <input class="form-control" type="text" name="associated_features"
                                                   id="associated_features" value="{{associated_features}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Personal history</label>
                                            <input class="form-control" type="text" name="personal_history"
                                                   id="personal_history" value="{{personal_history}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Medical history</label>
                                            <input class="form-control" type="text" name="medical_history"
                                                   id="medical_history" value="{{medical_history}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Drug history</label>
                                            <input class="form-control" type="text" name="drug_history"
                                                   id="drug_history" value="{{drug_history}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Family history</label>
                                            <input class="form-control" type="text" name="family_history"
                                                   id="family_history" value="{{family_history}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Parlour activities</label>
                                            <input class="form-control" type="text" name="parlour_activities"
                                                   id="parlour_activities" value="{{parlour_activities}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Use of products</label>
                                            <input class="form-control" type="text" name="use_of_products"
                                                   id="use_of_products" value="{{use_of_products}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Menstrual history</label>
                                            <input class="form-control" type="text" name="menstrual_history"
                                                   id="menstrual_history" value="{{menstrual_history}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">OCP history</label>
                                            <input class="form-control" type="text" name="ocp_history" id="ocp_history"
                                                   value="{{ocp_history}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Obstetrics history</label>
                                            <input class="form-control" type="text" name="obstetrics_history"
                                                   id="obstetrics_history" value="{{obstetrics_history}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Examination</label>
                                            <input class="form-control" type="text" name="examination" id="examination"
                                                   value="{{examination}}">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Diagnosis</label>
                                            <input class="form-control" type="text" name="diagnosis" id="diagnosis"
                                                   value="{{diagnosis}}">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Select treatment</label>
                                            <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                 style="margin-top: 2px;">
                                                <select class="selectpicker" name="treatment_id" id="treatment_id"
                                                        data-style="select-with-transition" title="Select room"
                                                        tabindex="6">
                                                    {{#treatment_objs}}
                                                        <option value="{{id}}">{{name}}</option>
                                                    {{/treatment_objs}}
                                                </select>
                                            </div>
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-6 form-group label-floating ">
                                            <label class="control-label">Treatment description</label>
                                            <input class="form-control" type="text" name="treatment_description"
                                                   id="treatment_description" value="{{treatment_description}}">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 form-group label-floating ">
                                            <label class="control-label">Flag</label>
                                            <input class="form-control" type="text" name="flag" id="flag"
                                                   value="{{flag}}">
                                            <span class="material-input"></span>
                                        </div>

                                        <div class="col-md-12 footer text-center">
                                            <input type="submit" class="btn btn-primary btn-round" value="Update"/>
                                        </div>
                                    </form>
                                {{/patient_treatment_obj}}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>
    </div>
</div>

</body>

{{> script}}
