{{> patient/patient_header}}

<body>

<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> patient/patient_navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Patient search reasult</h4>
                                <!--<p class="category">Here is a subtitle for this table</p>-->
                            </div>
                            <div class="card-content table-responsive">

                                <table class="table">
                                    <thead class="text-primary">
                                    <tr>
                                        <th>Patient Name</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#patient_objs}}
                                        <tr>
                                            <td width="15%">{{first_name}} {{last_name}}</td>
                                            <td width="85%" class="text-left">

                                                <a href="/new_appointment/{{id}}" rel="tooltip" title=""
                                                   class="btn btn-primary btn-simple btn-xs"
                                                   data-original-title="Add appointment">
                                                    <button class="btn btn-primary btn-round">
                                                        Add appointment
                                                        <div class="ripple-container"></div>
                                                    </button>

                                                </a>
                                                <a href="/new_session/{{id}}" rel="tooltip" title=""
                                                   class="btn btn-primary btn-simple btn-xs"
                                                   data-original-title="Add session">
                                                    <button class="btn btn-primary btn-round">
                                                        Add session
                                                        <div class="ripple-container"></div>
                                                    </button>

                                                </a>
                                                <a href="/patient_details/{{id}}" rel="tooltip" title=""
                                                   class="btn btn-primary btn-simple btn-xs"
                                                   data-original-title="Add prescription">
                                                    <button class="btn btn-primary btn-round">
                                                        Add prescription
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </a>
                                                <a href="/patient_details/{{id}}" rel="tooltip" title=""
                                                   class="btn btn-primary btn-simple btn-xs"
                                                   data-original-title="View patient">
                                                    <button class="btn btn-primary btn-round">
                                                        View summary
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                    <!--<i class="material-icons">visibility</i>-->
                                                </a>

                                            </td>
                                            <!--<td class="text-primary">$36,738</td>-->
                                        </tr>
                                    {{/patient_objs}}

                                    {{^patient_objs}}
                                        No record found...
                                    {{/patient_objs}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>

    </div>
</div>

</body>

{{> script}}
