{{> patient/patient_header}}
<body>

<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> patient/patient_navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">

                        <!-- patient's session summary card opened -->
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <div class="pull-right">
                                    <i class="material-icons" rel="tooltip" data-original-title="Add summery">
                                        add_circle</i> &nbsp;&nbsp;
                                    <i class="material-icons" rel="tooltip" data-original-title="View all">
                                        visibility</i>
                                </div>
                                <h4 class="title">Session summary</h4>
                                <!--<p class="category">Complete your profile</p>-->
                            </div>

                            <div class="card-content">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="session">
                                        <table class="table">
                                            <tbody>
                                            {{#user_sessions_objs}}
                                                <tr>
                                                    <td>{{date}}</td>
                                                    <td>{{session_number}}</td>
                                                    <td>{{treatment_name}}</td>
                                                    <td>{{strength_of_peel}} {{time}}</td>
                                                    <td>{{meso_products}}</td>
                                                    <td>{{special_remarks}}</td>
                                                </tr>
                                            {{/user_sessions_objs}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- patient's session summary card closed-->

                        <!-- patient's appointment summary card opened -->
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <div class="pull-right">
                                    {{#patient_obj}}
                                        <a href="/new_appointment/{{id}}">
                                            <i class="material-icons" rel="tooltip"
                                               data-original-title="Add Appointment">
                                                add_circle</i> &nbsp;&nbsp;
                                        </a>
                                        <i class="material-icons" rel="tooltip" data-original-title="View all">
                                            visibility</i>
                                    {{/patient_obj}}
                                </div>
                                <h4 class="title">Appointment summary</h4>
                                <!--<p class="category">Complete your profile</p>-->
                            </div>

                            <div class="card-content">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="appointment">
                                        <table class="table">
                                            <thead class="text-primary">
                                            <tr>
                                                <th>Reason</th>
                                                <th>Room</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {{#appointment_objs}}
                                                <tr>
                                                    <td width="60%" class="reason">
                                                        <h4>{{reason}}</h4>
                                                        <h6>{{date}} {{start_time}}</h6>
                                                    </td>
                                                    <td width="30%"> {{room}}</td>
                                                    <td width="10%">
                                                        <i class="material-icons {{flag}}">thumb_up</i>
                                                    </td>
                                                </tr>

                                            {{/appointment_objs}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- patient's appointment summary card closed-->

                        <!-- patient's prescription summary card opened -->
                        <div class="card">

                            <div class="card-header" data-background-color="purple">
                                <div class="pull-right">
                                    {{#patient_obj}}
                                        <a href="/new_prescription/{{id}}">

                                            <i class="material-icons" rel="tooltip"
                                               data-original-title="Add prescription">
                                                add_circle</i> &nbsp;&nbsp;
                                        </a>
                                        <i class="material-icons" rel="tooltip" data-original-title="View all">
                                            visibility</i>
                                    {{/patient_obj}}
                                </div>
                                <h4 class="title">Prescription summary</h4>
                                <!--<p class="category">Complete your profile</p>-->
                            </div>

                            <div class="card-content">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="prescription">
                                        <table class="table">
                                            <thead class="text-primary">
                                            <tr>
                                                <td width="%">Name</td>
                                                <td width="%">Strength</td>
                                                <td width="%">M</td>
                                                <td width="%">A</td>
                                                <td width="%">E</td>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {{#prescription_objs}}
                                                <tr>
                                                    <td width=""> {{name}}</td>
                                                    <td width=""> {{strength}}</td>
                                                    <td width=""> {{morning}}</td>
                                                    <td width=""> {{afternoon}}</td>
                                                    <td width=""> {{evening}}</td>
                                                </tr>

                                            {{/prescription_objs}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- patient's prescription summary card closed-->

                        <!--<div class="card">-->
                        <!--<div class="card-header" data-background-color="purple">-->
                        <!--<h4 class="title">Prescription summary</h4>-->
                        <!--&lt;!&ndash;<p class="category">Complete your profile</p>&ndash;&gt;-->
                        <!--</div>-->
                        <!--<div class="card-content">-->
                        <!--<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">-->

                            <!--{{#prescription_objs}}-->
                        <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading" role="tab" id="headingOne">-->
                        <!--<a role="button" data-toggle="collapse" data-parent="#accordion"-->
                        <!--href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"-->
                        <!--class="collapsed">-->
                        <!--<h4 class="panel-title">-->
                        <!--{{treatment_name}}-->
                        <!--<i class="material-icons pull-right">keyboard_arrow_down</i>-->
                        <!--</h4>-->
                        <!--</a>-->
                        <!--</div>-->
                        <!--<div id="collapseOne" class="panel-collapse collapse" role="tabpanel"-->
                        <!--aria-labelledby="headingOne" aria-expanded="false"-->
                        <!--style="height: 0px;">-->
                        <!--<div class="panel-body">-->
                        <!--<div class="tab-pane active" id="prescription">-->
                        <!--<table class="table">-->
                        <!--<thead class="text-primary">-->
                        <!--<tr>-->
                        <!--<td width="20%">Date</td>-->
                        <!--<td width="70%">Name</td>-->
                        <!--<td width="10%">-->
                        <!--<i class="material-icons not-visited" style="">visibility</i>-->
                        <!--</td>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                        <!--<td class="reason" width="60%">-->
                        <!--<h4>test</h4>-->
                        <!--<h6>2017-05-01 12.00</h6>-->
                        <!--</td>-->
                        <!--<td width="30%"> Laser</td>-->
                        <!--<td width="10%">-->
                        <!--<i class="material-icons visited"-->
                        <!--style="display: none;">thumb_up</i>-->
                        <!--<i class="material-icons not-visited" style="">thumb_down</i>-->
                        <!--</td>-->
                        <!--</tr>-->

                        <!--<tr>-->
                        <!--<td class="reason" width="60%">-->
                        <!--<h4>Test reason</h4>-->
                        <!--<h6>2017-05-16 11.00</h6>-->
                        <!--</td>-->
                        <!--<td width="30%"> Laser</td>-->
                        <!--<td width="10%">-->
                        <!--<i class="material-icons visited"-->
                        <!--style="display: none;">thumb_up</i>-->
                        <!--<i class="material-icons not-visited" style="">thumb_down</i>-->
                        <!--</td>-->
                        <!--</tr>-->

                        <!--</tbody>-->
                        <!--</table>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->

                            <!--{{/prescription_objs}}-->

                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->


                    </div>
                    {{#patient_obj}}

                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        <img class="img" src="../images/faces/default-user.png"/>
                                    </a>
                                </div>

                                <div class="content">
                                    <h4 class="card-title">{{first_name}} {{last_name}} </h4>
                                    <h6 class="category text-gray">{{contact}}</h6>
                                    <h6 class="category text-gray">{{city}}</h6>
                                    <!--<p class="card-content">-->
                                    <!--Don't be scared of the truth because we need to restart the human foundation in-->
                                    <!--truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but-->
                                    <!--the-->
                                    <!--back is...-->
                                    <!--</p>-->
                                    <a href="/edit_patient/{{id}}" class="btn btn-primary btn-round">Edit profile</a>
                                </div>
                            </div>
                        </div>

                    {{/patient_obj}}
                </div>
            </div>
            {{> footer}}
        </div>

    </div>
</div>

</body>

{{> script}}

<script type="application/javascript">

    $(document).ready(function () {

        $('.Visited').text('thumb_up');
        $('.Not.visited').text('thumb_down');

    });
</script>
