{{> patient/patient_header}}

<body>
<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> patient/patient_navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-lg-offset-1">
                        <div class="card">

                            <div class="card-header card-header-icon" data-background-color="purple">
                                <!--<i class="fa fa-fw" aria-hidden="true" title="Copy to use medkit"></i>-->
                                <i class="material-icons">content_paste</i>
                                <!--<h4 class="card-title">Add prescription</h4>-->
                                {{#patients_obj}}
                                    <lable class="pull-right">{{first_name}} {{last_name}}</lable>
                                    <img class="avatar pull-right" src="../images/faces/default-user.png" alt="...">
                                {{/patients_obj}}

                            </div>
                            <div class="card-content">

                                {{#patients_obj}}
                                    <form name="save-prescription-form" id="save-prescription-form" class="form"
                                          action="/save_prescription"
                                          method="post">
                                        <input name="patient_id" type="hidden" value="{{id}}">

                                        <div id="particular" class="col-lg-12">
                                            <div id="particular_inner" class="col-lg-12 particular">
                                                <div class="col-md-11">
                                                    <div class="col-md-4 form-group label-floating">
                                                        <label class="control-label">Select medicine</label>
                                                        <div class="col-md-12 btn-group bootstrap-select show-tick"
                                                             style="margin-top: 2px;">
                                                            <select class="selectpicker" name="medicine_id"
                                                                    id="patient_id"
                                                                    data-style="select-with-transition"
                                                                    title="Select room" tabindex="6">
                                                                <option selected disabled>Select medicine</option>
                                                                {{#medicine_objs}}
                                                                    <option value="{{id}}">{{name}}</option>
                                                                {{/medicine_objs}}
                                                            </select>
                                                        </div>
                                                        <span class="material-input"></span>
                                                    </div>

                                                    <div class="col-md-2 form-group label-floating">
                                                        <label class="control-label">Morning</label>
                                                        <input class="form-control" name="morning_medicine"
                                                               id="morning_medicine" type="text" value="">
                                                        <span class="material-input"></span>
                                                    </div>
                                                    <div class="col-md-2 form-group label-floating">
                                                        <label class="control-label">Afternoon</label>
                                                        <input class="form-control" name="afternoon_medicine"
                                                               id="afternoon_medicine" type="text" value="">
                                                        <span class="material-input"></span>
                                                    </div>
                                                    <div class="col-md-2 form-group label-floating">
                                                        <label class="control-label">Evening</label>
                                                        <input class="form-control" name="evening_medicine"
                                                               id="evening_medicine" type="text" value="">
                                                        <span class="material-input"></span>
                                                    </div>
                                                    <div class="col-md-2 form-group label-floating">
                                                        <label class="control-label">Number of days</label>
                                                        <input class="form-control" name="no_of_days"
                                                               id="no_of_days" type="text" value="">
                                                        <span class="material-input"></span>
                                                    </div>

                                                    <div class="col-md-12 form-group is-empty">
                                                        <input class="form-control" placeholder="Enter instruction"
                                                               name="instruction" id="instruction" type="text"
                                                               value="{{reason}}">
                                                    </div>

                                                </div>
                                                <div class="col-md-1 form-group is-empty remove">
                                                    <i class="material-icons">
                                                        close_circle</i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group is-empty text-left">
                                            <div class="col-md-12 form-group is-empty text-left">
                                                <i class="material-icons pull-left" onclick="repeat()">
                                                    add_circle</i>
                                                <label class="pull-left">Add medicine</label>

                                            </div>
                                        </div>


                                        <div class="col-md-12 footer text-center">
                                            <input type="submit" class="btn btn-primary btn-round" value="Submit"/>
                                        </div>
                                    </form>
                                {{/patients_obj}}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}

        </div>
    </div>
</div>
</body>

{{> script}}

{{#appointment_obj}}
    <script type="application/javascript">

        $(document).ready(function () {
            $("select#patient_id option[value=" + "{{patient_id}}" + "]").attr("selected", "selected");
            $("select#room option[value=" + "{{room}}" + "]").attr("selected", "selected");
            $("input[name=flag][value='" + "{{flag}}" + "']").prop("checked", true);
            // you need to specify id of combo to set right combo, if more than one combo
        });
    </script>

{{/appointment_obj}}
<script>
    var i = 0;

    function repeat() {
        var clone = $("#particular_inner").clone();
        clone.attr("id", "particular_inner" + i);
        clone.attr("name", "particular_inner" + i);

        clone.find("#patient_id").attr("name", "patient_id_" + i);
        clone.find("#morining_medicine").attr("name", "morining_medicine_" + i);
        clone.find("#afternoon_medicine").attr("name", "afternoon_medicine_" + i);
        clone.find("#evening_medicine").attr("name", "evening_medicine_" + i);
        clone.find("#reason").attr("name", "reason_" + i);

        clone.find("#patient_id").attr("id", "patient_id_" + i);
        clone.find("#morining_medicine").attr("id", "morining_medicine_" + i);
        clone.find("#afternoon_medicine").attr("id", "afternoon_medicine_" + i);
        clone.find("#evening_medicine").attr("id", "evening_medicine_" + i);
        clone.find("#reason").attr("id", "reason_" + i);

        //append clone on the end
        $("#particular").append(clone);
        i++;
    }

    $('.remove').click(function () {
        $(this).closest('.particular').remove();
    });

</script>