{{> patient/patient_header}}

<body>

<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> patient/patient_navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Patient treatment list</h4>
                                <!--<p class="category">Here is a subtitle for this table</p>-->
                            </div>
                            <div class="card-content table-responsive">

                                <table class="table">
                                    <thead class="text-primary">
                                    <tr>
                                        <th>Patient name</th>
                                        <th>Date</th>
                                        <th>Concern</th>
                                        <th>ODP</th>
                                        <th>Associated feature</th>
                                        <th>Personal history</th>
                                        <th>Medical history</th>
                                        <th>Drug history</th>
                                        <th>Family history</th>
                                        <th>Parlour activities</th>
                                        <th>Use of products</th>
                                        <th>Menstrual history</th>
                                        <th>OCP history</th>
                                        <th>Obstetrics history</th>
                                        <th>Examination</th>
                                        <th>Diagnosis</th>
                                        <th>Treatment description</th>
                                        <th>Treatment</th>
                                        <th>Treatment flag</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#patient_treatment_objs}}
                                        <tr>
                                            <td>{{first_name}} {{last_name}} (#{{id}})</td>
                                            <td>{{date}}</td>
                                            <td>{{concern}}</td>
                                            <td>{{odp}}</td>
                                            <td>{{associated_features}}</td>

                                            <td>{{personal_history}}</td>
                                            <td>{{medical_history}}</td>
                                            <td>{{drug_history}}</td>
                                            <td>{{family_history}}</td>
                                            <td>{{parlour_activities}}</td>

                                            <td>{{use_of_products}}</td>
                                            <td>{{menstrual_history}}</td>
                                            <td>{{ocp_history}}</td>
                                            <td>{{obstetrics_history}}</td>
                                            <td>{{examination}}</td>

                                            <td>{{diagnosis}}</td>
                                            <td>{{treatment_description}}</td>
                                            <td>{{treatment_id}}</td>
                                            <td>{{flag}}</td>

                                            <td class="text-left">
                                                <!--<td class="td-actions text-right">-->
                                                <a href="/edit_patient_treatment/{{id}}" rel="tooltip" title=""
                                                   class="btn btn-primary btn-simple btn-xs"
                                                   data-original-title="Edit patient treatment">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <!--<button type="button" rel="tooltip" title=""-->
                                                <!--class="btn btn-primary btn-simple btn-xs"-->
                                                <!--data-original-title="Edit Task">-->
                                                <!--<i class="material-icons">edit</i>-->
                                                <!--</button>-->

                                                <a href="" rel="tooltip" title=""
                                                   class="btn btn-danger btn-simple btn-xs"
                                                   data-original-title="Delete treatment" onclick="deleteMe(this,'patient_treatment',{{id}})">
                                                    <i class="material-icons">close</i>
                                                </a>

                                            </td>
                                            <!--<td class="text-primary">$36,738</td>-->
                                        </tr>
                                    {{/patient_treatment_objs}}
                                    {{^patient_treatment_objs}}
                                        No record found...
                                    {{/patient_treatment_objs}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>
    </div>
</div>

</body>

{{> script}}
