{{> patient/patient_header}}

<body>

<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> patient/patient_navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Session List</h4>
                                <!--<p class="category">Here is a subtitle for this table</p>-->
                            </div>
                            <div class="card-content table-responsive">

                                <table class="table">
                                    <thead class="text-primary">
                                    <tr>
                                        <th>Patient Name</th>
                                        <th>Treatment</th>
                                        <th>Session</th>
                                        <th>Strength of peel</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Meso products</th>
                                        <th>Special remarks</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#session_objs}}
                                        <tr>
                                            <td>{{first_name}} {{last_name}}</td>
                                            <td>{{treatment_name}}</td>
                                            <td>{{session_number}}</td>
                                            <!--<td>{{service}}</td>-->
                                            <td>{{strength_of_peel}}</td>
                                            <td>{{date}}</td>
                                            <td>{{time}}</td>
                                            <td>{{meso_products}}</td>
                                            <td>{{special_remarks}}</td>
                                            <td class="text-left">
                                                <!--<td class="td-actions text-right">-->
                                                <a href="/edit_session/{{user_session}}" rel="tooltip" title=""
                                                   class="btn btn-primary btn-simple btn-xs"
                                                   data-original-title="Edit Session">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a href="/delete_session/{{user_session}}" rel="tooltip" title=""
                                                   class="btn btn-danger btn-simple btn-xs"
                                                   data-original-title="Delete Session">
                                                    <i class="material-icons">close</i>
                                                </a>
                                                <!--<button type="button" rel="tooltip" title=""-->
                                                <!--class="btn btn-primary btn-simple btn-xs"-->
                                                <!--data-original-title="Edit Task">-->
                                                <!--<i class="material-icons">edit</i>-->
                                                <!--</button>-->
                                                <!--<button type="button" rel="tooltip" title=""-->
                                                <!--class="btn btn-danger btn-simple btn-xs"-->
                                                <!--data-original-title="Remove">-->
                                                <!--<i class="material-icons">close</i>-->
                                                <!--</button>-->
                                            </td>
                                            <!--<td class="text-primary">$36,738</td>-->
                                        </tr>
                                    {{/session_objs}}
                                    {{^session_objs}}
                                        No record found...
                                    {{/session_objs}}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>

    </div>
</div>

</body>

{{> script}}
