{{> patient/patient_header}}

<body>
<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> patient/patient_navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Patient list</h4>
                                <!--<p class="category">Here is a subtitle for this table</p>-->
                            </div>
                            <div class="card-content table-responsive patient_list">

                                {{#users_objs}}
                                    <div class="col-lg-12">
                                        <div class="col-lg-1 text-center">
                                            <div class="profile_image" style="">
                                            <img src="{{profile_img}}" class="img-responsive">
                                                <!--<img src="../images/faces/default-user.png" class="img-responsive">-->
                                            </div>
                                        </div>
                                        <div class="col-lg-3 text-center">
                                            <h4>{{first_name}} {{last_name}}</h4>
                                        </div>
                                        <div class="col-lg-3 text-left">
                                            <ul class="padding0">
                                                <li>
                                                    <i class="fa fa-map-marker"></i>
                                                    {{street}}, {{city}},<br>
                                                    {{state}}, {{country}} - {{zipcode}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 text-left">
                                            <ul class="padding0">
                                                <li>
                                                    <i class="fa fa-envelope"></i> {{email}}
                                                </li>
                                                <li>
                                                    <i class="fa fa-phone"></i>{{contact}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 text-left">
                                            <div class="action_buttons">
                                                <!--<td class="td-actions text-right">-->
                                                <a href="/edit_patient/{{id}}" rel="tooltip" title=""
                                                   class="btn btn-primary btn-simple btn-xs"
                                                   data-original-title="Edit Patient">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a href="/patient_details/{{id}}" rel="tooltip" title=""
                                                   class="btn btn-primary btn-simple btn-xs"
                                                   data-original-title="Patient summery">
                                                    <i class="material-icons">visibility</i>
                                                </a>
                                                <a href="" rel="tooltip" title=""
                                                   class="btn btn-danger btn-simple btn-xs"
                                                   data-original-title="Delete patient" onclick="deleteMe(this,'patient',{{id}})">
                                                    <i class="material-icons">close</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {{/users_objs}}
                                {{^users_objs}}
                                    No record found...
                                {{/users_objs}}

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {{> footer}}
        </div>

    </div>
</div>

</body>

{{> script}}
