{{> patient/patient_header}}

<body>

<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> patient/patient_navbar}}

        <div id="show_sessions_page" class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Session List</h4>
                                <!--<p class="category">Here is a subtitle for this table</p>-->
                            </div>
                            <div class="card-content table-responsive">

                                <table class="table">
                                    <thead class="text-primary">
                                    <tr>
                                        <th>Patient Name</th>
                                        <th>Treatment</th>
                                        <th>Session</th>
                                        <th>Strength of peel</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Meso products</th>
                                        <th>Special remarks</th>
                                        <th>Attachment</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#session_objs}}
                                        <tr>
                                            <td>{{first_name}} {{last_name}}</td>
                                            <td>{{treatment_name}}</td>
                                            <td>{{session_number}}</td>
                                            <!--<td>{{service}}</td>-->
                                            <td class="text-center">{{strength_of_peel}}</td>
                                            <td>{{date}}</td>
                                            <td>{{time}}</td>
                                            <td>{{meso_products}}</td>
                                            <td>{{special_remarks}}</td>
                                            <td>
                                                <div class="col-lg-12 text-center">
                                                    <div class="session_image" style="">
                                                        <img src="{{treatment_img}}" class="img-responsive">
                                                        <!--<img src="../images/faces/default-user.png" class="img-responsive">-->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left">

                                                <div class="action_buttons">
                                                    <a href="/edit_session/{{user_session}}" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="Edit Session">
                                                        <i class="material-icons">edit</i>
                                                        <div class="ripple-container"></div></a>
                                                    <a href="" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Delete Session" onclick="deleteMe(this,'session',{{user_session}})">
                                                        <i class="material-icons">close</i>
                                                    </a>
                                                </div>

                                            </td>
                                        </tr>
                                    {{/session_objs}}
                                    {{^session_objs}}
                                        No record found...
                                    {{/session_objs}}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>

    </div>
</div>

</body>

{{> script}}
