{{> patient/patient_header}}
<body>

<div class="wrapper">

    {{> sidebar}}

    <div class="main-panel">

        {{> patient/patient_navbar}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12 col-md-12">
                        <div class="card card-nav-tabs">
                            <div class="card-header" data-background-color="purple">
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <span class="nav-tabs-title">Appointments:</span>
                                        <ul class="nav nav-tabs" data-tabs="tabs">
                                            <li class="active">
                                                <a href="#today" data-toggle="tab">
                                                    <i class="material-icons">bug_report</i>
                                                    Today
                                                    <div class="ripple-container"></div>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="#weekly" data-toggle="tab">
                                                    <i class="material-icons">code</i>
                                                    This week
                                                    <div class="ripple-container"></div>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="#monthly" data-toggle="tab">
                                                    <i class="material-icons">cloud</i>
                                                    This month
                                                    <div class="ripple-container"></div>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="#next_month" data-toggle="tab">
                                                    <i class="material-icons">cloud</i>
                                                    Next month
                                                    <div class="ripple-container"></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card-content">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="today">
                                        {{#todays_objs}}
                                            <div class="col-lg-3 col-md-6 col-sm-6">
                                                <div class="card card-stats">

                                                    <div class="card-content">

                                                        <h4 class="title">{{date}}
                                                            <small>(Friday)</small>
                                                        </h4>
                                                        <p class="category">{{start_time}}</p>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="stats">
                                                            <a href="#pablo">{{first_name}} {{last_name}}</a>
                                                        </div>
                                                        <a href="" rel="tooltip" title=""
                                                           class="btn btn-danger btn-simple btn-xs pull-right"
                                                           data-original-title="Delete appointment" onclick="deleteMe(this,'appointment',{{id}})">
                                                            <i class="material-icons">close</i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/todays_objs}}
                                        {{^todays_objs}}
                                            <div class="col-lg-3 col-md-6 col-sm-6">
                                                <h4> No appointments</h4>
                                            </div>
                                        {{/todays_objs}}

                                    </div>
                                    <div class="tab-pane" id="weekly">
                                        {{#weekly_objs}}
                                            <div class="col-lg-3 col-md-6 col-sm-6">
                                                <div class="card card-stats">

                                                    <div class="card-content">

                                                        <h4 class="title">{{date}}
                                                            <small>(Friday)</small>
                                                        </h4>
                                                        <p class="category">{{start_time}}</p>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="stats">
                                                            <a href="#pablo">{{first_name}} {{last_name}}</a>
                                                        </div>
                                                        <a href="" rel="tooltip" title=""
                                                           class="btn btn-danger btn-simple btn-xs pull-right"
                                                           data-original-title="Delete appointment" onclick="deleteMe(this,'appointment',{{id}})">
                                                            <i class="material-icons">close</i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/weekly_objs}}
                                        {{^weekly_objs}}
                                            <div class="col-lg-3 col-md-6 col-sm-6">
                                                <h4> No appointments</h4>
                                            </div>
                                        {{/weekly_objs}}

                                    </div>
                                    <div class="tab-pane" id="monthly">
                                        {{#month_objs}}
                                            <div class="col-lg-3 col-md-6 col-sm-6">
                                                <div class="card card-stats">

                                                    <div class="card-content">

                                                        <h4 class="title">{{date}}
                                                            <small>(Friday)</small>
                                                        </h4>
                                                        <p class="category">{{start_time}}</p>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="stats">
                                                            <a href="#pablo">{{first_name}} {{last_name}}</a>
                                                        </div>
                                                        <a href="" rel="tooltip" title=""
                                                           class="btn btn-danger btn-simple btn-xs pull-right"
                                                           data-original-title="Delete appointment" onclick="deleteMe(this,'appointment',{{id}})">
                                                            <i class="material-icons">close</i>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        {{/month_objs}}
                                        {{^month_objs}}
                                            <div class="col-lg-3 col-md-6 col-sm-6">
                                                <h4>No appointments</h4>
                                            </div>
                                        {{/month_objs}}
                                    </div>
                                    <div class="tab-pane" id="next_month">
                                        {{#next_month_objs}}
                                            <div class="col-lg-3 col-md-6 col-sm-6">
                                                <div class="card card-stats">

                                                    <div class="card-content">

                                                        <h4 class="title">{{date}}
                                                            <small>(Friday)</small>
                                                        </h4>
                                                        <p class="category">{{start_time}}</p>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="stats">
                                                            <a href="#pablo">{{first_name}} {{last_name}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/next_month_objs}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {{> footer}}
        </div>

    </div>
</div>

</body>

{{> script}}
